<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>

  <body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3">
      <h3 class="text-xl">CloudKicks</h3>
      <% var isLoggedIn = typeof isLoggedIn !== "undefined" ? isLoggedIn : true
      %> <% if (isLoggedIn) { %>

      <div class="flex gap-5">
        <a href="">Shop</a>
        <a href="/cart">Cart</a>
        <a href="">My Account</a>
        <a href="/users/logout">Logout</a>
      </div>
      <% } %>
    </nav>
  </body>
</html>
